/*
/server/*
!/src/
!/server/
!/server/spigot-1.18.2.jar
!/.gitignore
!/build.gradle
!/gradlew
!/gradlew.bat
!/settings.gradle
!/README.md
#/.idea/
#/.gradle/
#/build/
#/test/
#/server/*
#*.class
#*.log